<mat-toolbar   class="mat-elevation-z8 default__toolbar">

    <button (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/medias/logo-qdn.png" [width]="screenWidth > 840?100:35" alt="">
    <span class="default__spacer"></span>




    <div class="d-flex">
        <button [matMenuTriggerFor]="Report" mat-button class="fw-bolder ">
            <mat-icon>arrow_drop_down</mat-icon>
            Rapports
        </button>

    </div>

    <mat-menu #Report="matMenu">
        <button mat-menu-item [routerLink]="['/web.qdn.customer-news']"  >
            <mat-icon>feed</mat-icon>
            <span>Mes articles</span>
        </button>

    </mat-menu>



    <div class="d-flex">
        <button [matMenuTriggerFor]="userDropleft" mat-button class="text-uppercase text-primary default__btn__lg">
            <mat-icon>arrow_drop_down</mat-icon>
            {{ user_name }}
        </button>
        <img class="img-radius rounded-circle" [src]="user_photo" width="40" height="40" alt="">
    </div>

    <mat-menu #userDropleft="matMenu" class="custom_menu_dialog">

        <div class="customer_menu_modal">
            <div class="customer_menu_modal_header p-3">
                <h3 class="text-center fw-bolder">
                    <img class="img-radius rounded-circle mb-3" [src]="user_photo" width="80" height="80" alt="">
                    <p class="fw-bolder ">Bonjour {{ user_name }} !</p>
                </h3>
            </div>

            <div class="customer_menu_modal_body">

                <mat-divider></mat-divider>

                <button mat-menu-item (click)="logOut()" >
                    <mat-icon class="text-danger">logout</mat-icon>
                    <span class="text-primary fw-bolder">Se déconnecter</span>
                </button>
            </div>
        </div>
    </mat-menu>
</mat-toolbar>



<mat-drawer-container class="default__drawer__conrainer " >
    <mat-drawer class="default__drawer customer_bg-dark" #drawer [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
        <mat-nav-list class="mt-4">
            @for (item of sidebar_menu_list; track $index) {
                <div class="ps-0 text-start" >
                    <li class="text-red ms-3 fw-bolder"> {{ item.label }}</li>
                    <mat-list-item class="fw-bolder text-start quoideneud">
                        <button class="fw-bolder w-100 py-2 text-dark mat-elevation-z8"
                        [routerLink]="item.router" routerLinkActive="active"
                        [routerLinkActiveOptions]=" item.id == 1?{exact: true}:{exact: false} " mat-button >
                            <mat-icon class="text-white">{{ item.item_icon }}</mat-icon>
                            <span class="text-start text-white">{{ item.item_name }}</span>
                        </button>
                    </mat-list-item>
                </div>
            }
        </mat-nav-list>

    </mat-drawer>
    <mat-drawer-content class="default__content">
        <div class="page-wrapper">

            <div class="main-container">

                <div class="content-wrapper-scroll">
                    <div class="main-header d-flex align-items-center justify-content-between position-relative">
						<div class="d-flex align-items-center justify-content-center">
							<div class="page-icon pe-3">
								@if (current_route != '/quoideneufs') {
                                    <button  (click)="back()" mat-icon-button>
                                        <mat-icon>reply</mat-icon>
                                    </button>
                                }
                                @if (current_route == '/quoideneufs') {
                                    <button  [routerLink]="['/quoideneufs']" routerLinkActive="router-link-active"  mat-icon-button>
                                        <mat-icon>home</mat-icon>
                                    </button>
                                }
							</div>
							<div class="page-title  d-md-block">
                                @if (screenWidth > 840) {
                                    <h5 >Bienvenue sur
                                        <strong class="text-red">Quoi de neuf</strong>,
                                        <strong class="text-primary fst-italic">{{ user_name }}</strong>
                                    </h5>
                                }
                                @if (screenWidth < 840) {

                                    <h6 >Bienvenue sur
                                        <strong class="text-red">Quoi de neuf</strong>,
                                        <strong class="text-primary fst-italic">{{ user_name }}</strong>
                                    </h6>
                                }
                                @if (user_role == 'admin' || user_role == 'manager') {

                                    <button [routerLink]="['/redaction']"  mat-raised-button color="warn"> <mat-icon>keyboard_return</mat-icon> Retournez sur Alerte Info...</button>
                                }
							</div>
						</div>
						<!-- Live updates start -->

						<!-- Live updates end -->
					</div>
                </div>

                <div class="content-wrapper">
                    <router-outlet></router-outlet>
                </div>


            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>


